#popup_menu_for_change{
    position: absolute;
    width: 60px;
    height: auto;
    border: black solid 2px;
    border-radius: 10px;
    background: rgba(51, 170, 51, .9);
    text-align: center;
    z-index: 100000;
}
.popup_menu_for_change_variants{
    margin: 0;
}
.popup_menu_for_change_variants:hover{
    cursor: pointer;
}
